.Data{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
<<<<<<< Updated upstream
  margin-top: 10%;
=======
>>>>>>> Stashed changes
  margin-left: 6%;
}
.boxes{
    color: gray;
    height: 20px;
    width: 445px;

}

h1{
    color: gray;
<<<<<<< Updated upstream
    margin-top: 10%;
=======
>>>>>>> Stashed changes
    font-size: 250%;
}
